.cursor-pointer{
  cursor: pointer;
}

.container-border{
  border: 1px solid #ccc;

}

.border-radius-30{
  border-radius: 30px;
}

.font-size-14{
  font-size: 14px;
}

.font-weight-400{
  font-weight: 400
}

.favorite:hover{
  color: orange;
}

.title:hover{
  color: orange;
}

.form-input-control{
  padding-left: 10px;
  width: 100%;
  height: 41px;
  height: 41px;
  border-radius: 30px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  text-align: center;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ccc;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.font-weight-600{
  font-weight: 600;
}

.font-size-20{
  font-size: 20px;
}

.font-color-orange{
  color: orange;
}

.background-color-orange{
  background: orange;
}

.color-red{
  color: red;
}

.color-black{
  color: black;
}

.popup-modal .modal-content{
  border-radius: 100px;
}

.box-shadow-none{
  box-shadow: none;
}

.btn-ok:hover{
  box-shadow: none;
}